<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/1/IdeaProjects/QA/DemoQAWinter24"><classes><class name="com.demoqa.elements.FoodList"><methods><include name="findFoodList"/></methods></class><class name="com.demoqa.elements.NambaFood"><methods><include name="NambaFoodClick"/></methods></class><class name="com.demoqa.elements.OrderFood"><methods><include name="textBoxTest"/></methods></class><class name="com.demoqa.elements.TextBoxButton"><methods><include name="TextBoxAuto"/></methods></class><class name="com.demoqa.elements.TextBoxTest"><methods><include name="textBoxTest"/></methods></class></classes></test></suite>